.item{
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: lightskyblue;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 10px;
}
.item img{
    width: 300px;
}
.item p{
    margin:5px;
    font-size: 18px;
    font-weight: 500;
}