.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dataGrid{
    margin-top: 30px;
    padding: 20px;
}
.titleProducts{
    margin-left: 320px;
}
.avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.action{
    display: flex;
    gap: 5px;
}
.action>*{
    font-size: 20px;
}
.edit a{
    color: green;
    text-decoration: none;
}
.delete{
    color: red;
    cursor: pointer;
}