.cars{
    display: flex;
    justify-content: center;
}
.items{
    width: 76%;
    margin: 50px 0 40px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.options{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.options label{
    font-size: 20px;
}
.options select{
    height: 30px;
    width: 130px;
}